<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>title(||쓰지 않은 경우)</th>
    <th>writer</th>
    <th>date</th>
    <th>hits</th>
  </tr>
  <tr th:each="board: ${boardList}"> <!--th:each for each와 비슷함-->
    <td th:text="${board.id}"></td>
    <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td> <!--제목을 클릭하면 상세조회되는 링크, 동일한 제목이 여러개 있을 수 있음 그래서 id값을 넘겨줌 -->
    <td><a th:href="@{/board/${board.id}}" th:text="${board.boardTitle}"></a></td><!--타임리프 문법임. controller에서 가져온 값을 경로상에서 제대로 표현하고 싶으면 ||로 감싸줘야 함 -->
    <td th:text="${board.boardWriter}"></td>
    <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    <td th:text="${board.boardHits}"></td>
  </tr>
</table>
</body>
</html>